<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Currency converter</title>
  </head>
  <body>
  <div class="container ">
      <h1 class="align">Currency converter</h1>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="container">
        <form>
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Value</label>
                    <input type="text" class="form-control" value="1" id="input-0" data-num="0">
                </div>
                <div class="form-group col-md-3">
                    <label >Currency</label>
                    <select class="form-control" id="select-0" data-num="0">
                        {% for currency in currencies %}
                            <option {% if forloop.counter == 1 %} selected {% endif %} value="{{ currency.code }}">
                                {{ currency.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" value="1" id="input-1" data-num="1">
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" id="select-1" data-num="1">
                        {% for currency in currencies %}
                            <option {% if forloop.counter == 2 %} selected {% endif %} value="{{ currency.code }}">
                                {{ currency.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>

    <script>
        var convert = function() {
            var num = $(this).data().num;
            var targetEl = $("#input-"+(1-num));
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            var data = {
                source: $('#select-'+num).val(),
                target: $('#select-'+(1-num)).val(),
                value: $('#input-'+num).val()

            };

            $.ajax({
                url: '/converter/',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                type: 'post',
                data: JSON.stringify(data),
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    $(targetEl).val(response.converted)
                },
                error: function (response) {

                }
            });

        };

        $('select.form-control').change(convert);
        $('input.form-control').keyup(convert);
        $('#input-0').keyup();
    </script>


  </body>
</html>